body {
    background-color: black;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
}


.container {
    display: flex;
    height: 100%;
}


.left {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    background-color: black;
}


.right {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    background-color: black;
}

.login-box {
    width: 100%;
    max-width: 500px;
    background-color: transparent;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

    .login-box h2 {
        color: aqua;
        text-align: center;
        margin-bottom: 20px;
    }

    .login-box .input-container {
        margin-bottom: 15px;
    }

        .login-box .input-container label {
            color: white;
            display: block;
            margin-bottom: 5px;
        }

        .login-box .input-container input {
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ddd;
            border-radius: 3px;
            outline: none;
        }

    .login-box input[type="submit"] {
        width: 100%;
        padding: 10px;
        background-color: #4CAF50;
        color: white;
        border: none;
        cursor: pointer;
        border-radius: 3px;
    }

        .login-box input[type="submit"]:hover {
            background-color: #45a049;
        }
